html, body {
    margin: 0;
    padding: 0;
}
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.header {
    z-index: 999;
    background-color: #cc85bc;
    width: 100%;
    height: 100px;
    color: #fff;
    line-height: 100px;
}

.menu {
    margin-top: 10px;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul > li {
    display: inline-block;
    width: 150px;
}

.menu ul > li > a {
    display: block;
    color: #26A69A;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.menu ul > li > a:hover {
    font-weight: bolder;
}

.menu.selected {
    color: #FF6766;
    font-weight: bolder;
    border-bottom: 2px solid #FF6766;
    text-decoration: none;
}

.brand {
    display: flex;
    justify-content: center;
    font-size: 36px;
    vertical-align: middle;
}

.fa-lg {
    line-height: 100px !important;
}

.vertical-center {
    margin-top: 20px;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.container {
    text-align: center;
}